# Dictionary

* mapping data type
* key: value pair
* written in `{}` each `key:value` is separated by comma
* Keys cannot be duplicate

In [1]:
# eg creating empty dictionary

In [2]:
about = {}

In [3]:
type(about)

dict

In [4]:
about = dict()
type(about)

dict

# examples

In [5]:
a = {1:'Ayush', 2: 'Bibek', 3:'Champa'} # int can be keys

In [6]:
a

{1: 'Ayush', 2: 'Bibek', 3: 'Champa'}

In [7]:
student = {
    'name':['Bikash', 'Pranil', 'Nabin']  
}  #string can be keys

In [8]:
student

{'name': ['Bikash', 'Pranil', 'Nabin']}

In [9]:
{1.2:88} # float can be keys

{1.2: 88}

In [10]:
# tuple, list set cannot be keys

# adding key value pair in dictionary

In [11]:
about = {'name': 'kshitiz'}
about

{'name': 'kshitiz'}

In [12]:
# first method

In [13]:
about['teaches']= ['Python', 'AI', 'Data Science']

In [14]:
about

{'name': 'kshitiz', 'teaches': ['Python', 'AI', 'Data Science']}

In [15]:
about.update({"works at": 'Broadway'}) # update() vitra dictionary pass garnu parcha

In [16]:
about

{'name': 'kshitiz',
 'teaches': ['Python', 'AI', 'Data Science'],
 'works at': 'Broadway'}

# user input classwork

In [20]:
for index in (1,1,3):
    country= input ('enter a coutry')
    capital= input ('enter its capital')
    
    output = {country:capital}
    
    output.update({country:capital})

print (output) #

enter a coutrya
enter its capitalb
enter a coutryc
enter its capitald
enter a coutrye
enter its capitalf
{'e': 'f'}

In [24]:
cc={}

for index in range(3):
    country = input ('Enter a country name: ')
    capital= input ("Enter capital city: ")
    cc.update({country:capital})
cc

Enter a country name: Nepal
Enter capital city: Ktm
Enter a country name: India
Enter capital city: Delhi
Enter a country name: Bhutan
Enter capital city: Thimpu

{'Nepal': 'Ktm', 'India': 'Delhi', 'Bhutan': 'Thimpu'}

In [31]:
# if key of dictionary already exists, updates the value of existing key

In [26]:
d= {'Netflix': 5000000}

In [27]:
d

{'Netflix': 5000000}

In [29]:
d.update({'Netflix':200})

In [30]:
d

{'Netflix': 200}

In [32]:
# update le key exist gardaina bhaney naya key:value pair halcha
# if exist garcha bhaney value update garcha

In [33]:
d= {'Netflix': 5000000}
d['Netflix']= 600 #key already exist garcha so value change huncha

# accessing value of a key in a dictionary

In [37]:
about= {
    'Name': 'Kshitiz',
    'works_at': 'Broadway',
    'age': 26,
    'teaches': ['python', 'AI', 'ML']
}

In [38]:
about

{'Name': 'Kshitiz',
 'works_at': 'Broadway',
 'age': 26,
 'teaches': ['python', 'AI', 'ML']}

In [39]:
about['works_at'] # one method

'Broadway'

In [40]:
about.get('works_at') # other method

'Broadway'

In [41]:
about['gender'] # navako key khojera paidaina

KeyError: 'gender'

In [44]:
about.get('gender', 'Not found') # if gender key exist gardaina bhaney 'Not Found' print garney

'Not found'

In [45]:
about.get('gender', None) # default ma None huncha

# .keys() and .values() method

In [46]:
about= {
    'Name': 'Kshitiz',
    'works_at': 'Broadway',
    'age': 26,
    'teaches': ['python', 'AI', 'ML']
}

In [47]:
about.keys()

dict_keys(['Name', 'works_at', 'age', 'teaches'])

In [48]:
about.values()

dict_values(['Kshitiz', 'Broadway', 26, ['python', 'AI', 'ML']])

In [49]:
about.items()

dict_items([('Name', 'Kshitiz'), ('works_at', 'Broadway'), ('age', 26), ('teaches', ['python', 'AI', 'ML'])])

In [51]:
for item in about.items():
    print(item)

('Name', 'Kshitiz')
('works_at', 'Broadway')
('age', 26)
('teaches', ['python', 'AI', 'ML'])

In [52]:
for key, val in about.items():
    print(val)

Kshitiz
Broadway
26
['python', 'AI', 'ML']

In [55]:
about= {
    'name':'kshitiz',
    'works_at': 'Broadway',
    'age': 26,
    'teaches': ['Python', 'AI', 'ML']
    
}

for key, val in about.items():
    print(f'The key is {key} an the value is {val}')

The key is name an the value is kshitiz
The key is works_at an the value is Broadway
The key is age an the value is 26
The key is teaches an the value is ['Python', 'AI', 'ML']

# Dictionary comprehension

* swap key value pair of dictionary

In [56]:
d= {1: 'one', 5: 'five', 10: 'ten'}

In [57]:
{val:key for key,val in d.items()}

{'one': 1, 'five': 5, 'ten': 10}

# zip()

In [58]:
country = ['Nepal', 'India', 'Bhutan']
capital = ['kathmandu', 'New Delhi', 'Thimpu']

In [59]:
zip(country, capital)

In [60]:
dict(zip(country, capital))

{'Nepal': 'kathmandu', 'India': 'New Delhi', 'Bhutan': 'Thimpu'}

# Nested dictionary

In [64]:
child = {
    'child1': {'name':'Roman', 'age':28},
    'child2': {'name':'Champa','gender':'F'}
}

In [69]:
child['child2']

{'name': 'Champa', 'gender': 'F'}

In [70]:
child['child2']['name']

'Champa'

In [73]:
child['child1']['age']

28

# list of dictionary

In [75]:
data=[{'name':'ram', 'sem':8}, {'name':'shyam', 'sem':4}]

In [76]:
data

[{'name': 'ram', 'sem': 8}, {'name': 'shyam', 'sem': 4}]

In [79]:
for item in data:# item vanya dictionary ho
    print(item['name'])

ram
shyam

In [78]:
for item in data: # item vanya dictionary ho
    print(item['sem'])

8
4