# Tuple
* collection of item under one variable name
* items are placed inside round bracket () separated by coma
* allows duplicate
* immutable

In [1]:
# empty tuple

fruit= tuple()
type(fruit)

tuple

In [2]:
# empty tuple

friends = ()
type(friends)

tuple

# Create a tuple of cities in Nepal

In [3]:
city = ('Kathmandu', 'Bhaktapur', 'Lalitpur', 'Dharan', 'Bharatpur', 'Biratnagar')

In [4]:
city

('Kathmandu', 'Bhaktapur', 'Lalitpur', 'Dharan', 'Bharatpur', 'Biratnagar')

In [5]:
type(city)

tuple

# indexing

In [8]:
city[3] #indexing

'Dharan'

city[-2]

In [10]:
city[1]

'Bhaktapur'

In [11]:
city[2:4]

('Lalitpur', 'Dharan')

# calculate mean

In [13]:
data = (2,4,6,8,12)

In [17]:
a = 0
for item in data:
    a = a + item

mean= a/len(data)

mean

6.4

# Tuple is immutable

In [18]:
cars= ('BMW', 'Tesla', 'Mercedes', 'Bentley')

In [19]:
cars[1]

'Tesla'

In [20]:
cars[1]= 'Tata' #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [22]:
cars= ['BMW', 'Tesla', 'Mercedes', 'Bentley'] # list are mutable
cars[1] = 'Tata'
cars

['BMW', 'Tata', 'Mercedes', 'Bentley']

In [23]:
cars= ('BMW', 'Tesla', 'Mercedes', 'Bentley')
type(cars)

tuple

In [24]:
cars = list(cars)
type (cars)

list

In [25]:
cars.append('Lambo')

In [26]:
cars

['BMW', 'Tesla', 'Mercedes', 'Bentley', 'Lambo']

In [28]:
cars= tuple(cars)

In [29]:
cars

('BMW', 'Tesla', 'Mercedes', 'Bentley', 'Lambo')

# Tuple Unpacking

In [30]:
a, b= ('hello', 'sarkar')

In [31]:
a

'hello'

In [32]:
b

'sarkar'

In [33]:
a, b, c= ('hello', 'sarkar')

ValueError: not enough values to unpack (expected 3, got 2)

In [42]:
l1= [5, 5.3, 'kshitiz', (55,6)]

In [43]:
l1

[5, 5.3, 'kshitiz', (55, 6)]

In [44]:
l1[3]

(55, 6)

In [45]:
l1[2][1]

's'

In [46]:
type(l1)

list

In [47]:
t1= (5, 5.3, 'kshitiz', [55,6])

In [48]:
t1

(5, 5.3, 'kshitiz', [55, 6])

In [49]:
t1[3][1]

6