In [1]:
a = 5
print (a)

5

# Variable naming convention

In [2]:
a= 20

In [3]:
20 = p

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1283333274.py, line 1)

# Python keywords cannot be varialbe name

* Keywords are the reserved words in Python
* We cannot use a keyword as a variable name, function name or any other identifier
* They are used to define the syntax and structure of the Python language
* In Python, keywords are case sensitive

In [4]:
help ('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# Python keywords are case sensitive

* upper case and lowercase are different for programming language- case sensative language

In [8]:
global= 99

SyntaxError: invalid syntax (349051529.py, line 1)

In [9]:
False= 0 # False is a keyword

SyntaxError: cannot assign to False (2985050778.py, line 1)

In [11]:
false= 0 # false is a variable name

## Python is a case sensative language while SQL is case insensative language

In [14]:
A= 'Apple'
a= 'ace'
print (f"The value of A is {A}") #f string
print (f"The value of a is {a}")

The value of A is Apple
The value of a is ace

In [15]:
A= 'Apple'
a= 'ace'
print ("The value of A is {}".format(A)) #format string
print ("The value of a is {}".format(a))

The value of A is Apple
The value of a is ace

# We cannot use special symbols like `!, @, #, $, %,` etc. in our identifier.

In [16]:
@name= 'kshitiz'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (978219023.py, line 1)

In [17]:
name = 'elina'

In [18]:
$name= 'Ram'

SyntaxError: invalid syntax (4070906652.py, line 1)

# You cannot use space bar in variable name

In [19]:
first name= 'Ram'

SyntaxError: invalid syntax (4142086720.py, line 1)

In [20]:
firstname = "Ram"

# You cannot use - in variable name

In [21]:
first-name= "khsitiz"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2373640997.py, line 1)

# Numbers cannot be first letter in variable name but numbers can appear after letters

In [22]:
1animal = 'Cow'

SyntaxError: invalid decimal literal (2504960097.py, line 1)

In [23]:
animal1= 'Cow'

# Use underscore _ to join two words in variable name

In [24]:
first_name= 'Shyam' # snake_case

In [25]:
First_name= "Elina"

In [27]:
MyObj= 88 # PascalCase

In [28]:
o = 88 # not a good style ---PEP-8 (style-guide for python)

# Python is a dynamic typed language

In [29]:
1+2

3

In [31]:
"1" + 2 # dynamic typed -- data type checked on fly in runtime

TypeError: can only concatenate str (not "int") to str

In [32]:
"1" + "2"

'12'

# updating variable values

In [35]:
a = 5
print (f'Before a ={a}')
a = 66
print (f'After a ={a}')

Before a =5
After a =66

In [36]:
a= 60.5
print (f'Before a ={a}')
a = a + 0.5
print (f'After a ={a}')

Before a =60.5
After a =61.0

# Assigning multiple values to multiple variable

In [37]:
a = 2
b = 0.2
c = 0.6 + 0.3j

In [38]:
a

2

In [39]:
b

0.2

In [40]:
c

(0.6+0.3j)

In [41]:
a, b, c = 2, 0.2, 0.6 + 0.4j

In [42]:
a

2

In [43]:
b

0.2

In [44]:
c

(0.6+0.4j)

In [45]:
a = 2+1

In [46]:
a

3

In [47]:
a, b, c = 2, 0.2

ValueError: not enough values to unpack (expected 3, got 2)

In [48]:
a, b= 2, 0.2, 0.6 + 0.4j

ValueError: too many values to unpack (expected 2)