In [1]:
name= "Elina"

In [2]:
first name= "Elina"

SyntaxError: invalid syntax (3997582067.py, line 1)

# Python keywords cannot be variable name
* keywords are the reserved words in Python
* we cannot use a keyword as a variable name, function name or any other identifier
* they are used to define the syntax and structure of the Python language
* in Python, keywords are case sensitive

In [4]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [5]:
False = '0'

SyntaxError: cannot assign to False (2896425236.py, line 1)

In [6]:
# Python keywords are case sensitive

In [7]:
false = "0"

In [8]:
# casesensitive: uppercase and lowercase are different object

# Python is a case sensitive language while SQL is case insensative

In [10]:
A= "Ant"
a= 'and'
print ('the value of A is Ant')
print ('the value of a is and')

the value of A is Ant
the value of a is and

In [11]:
A= "Ant"
a= 'and'
print (f'the value of A is {A}')
print (f'the value of a is {a}')

the value of A is Ant
the value of a is and

A= "Ant"
a= 'and'
print ('the value of A is {}'.format(A))
print ('the value of a is {}'.format(a))

# We cannot use special symbols like '!, @, #, $, %' etc. in our identifier or variable name

In [14]:
$name= 'Ram'

SyntaxError: invalid syntax (4070906652.py, line 1)

In [15]:
@name= 'Shyam'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3201816522.py, line 1)

# you cannot use space in variable name

In [16]:
first name= 'Suman'

SyntaxError: invalid syntax (192561139.py, line 1)

# you cannot use - in variable name

In [17]:
first-name= 'Govind'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3317195536.py, line 1)

# Use underscore `_` to join words in variable name

In [18]:
first_name= "Krishna"

## Numbers cannot be first letter in variable name but numbers can appear after letters

In [19]:
1name= "Hari"

SyntaxError: invalid decimal literal (2617599953.py, line 1)

In [20]:
name1= "Hari"

# Variable naming styles

[Python Style Guide: How to write Beautiful code in Python](https://realpython.com/python-pep8/)

In [ ]:
[]